body {
    background-color: black;
    color: white;
}

main {
    text-align: center;
}

a {
    transition: color 0.5s ease, font-size 0.5s ease;
}

a:link, a:visited {
    /* color:rgb(110, 144, 255); */
    background-image: linear-gradient(to right, rgb(87, 87, 255), rgb(201, 25, 148));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    /* color: linear-gradient(to right, rgb(48, 48, 155), rgb(134, 16, 99)); */
    color: white;
    font-size: 1.2em'
}

#back-to-top {
    position: fixed;
    left: 50px;
    bottom: 20px;
    
}

.days-container {
    display: flex;
    justify-content: center;
}

.days-container img {
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.days-container ul {
    padding-left: 0;
}

.days-container ul li {
    list-style-type: none;
    margin: 14px;
}